<!DOCTYPE html>
<html>
<head>
  <title>GPIO Control</title>
  <link rel="stylesheet" href='../static/style.css'/>
</head>

<body>
			<h1> Arduino 1 Commands </h1>
	<h2> 
		blink ==> 
		<a href="/action1" class="button">blink</a>  
		
	</h2>
	<h2> 
		on ==> 
		<a href="/action2" class="button">ON</a>  
		
	</h2>
	<h2> 
		off ==> 
		<a href="/action3" class="button">off</a>  
		
	</h2>
	<h2>
		on while pressed ==>
		<button onmousedown="window.location.href = '/action2';" onmouseup="window.location.href = '/action3';">Click Here</button>
	</h2>
    <h2>
		capture ==>
                <a href="/action4" class="button">capture</a>  
		
	</h2>

			<h1> Arduino 2 commands </h1>
	<h2> 
		blink ==> 
		<a href="/action4" class="button">blink</a>  
		
	</h2>
	<h2> 
		on ==> 
		<a href="/action5" class="button">ON</a>  
		
	</h2>
	<h2> 
		off ==> 
		<a href="/action6" class="button">off</a>  
		
	</h2>
			<h2>
					on while pressed ==>
					<button onmousedown="window.location.href = '/action5';" onmouseup="window.location.href = '/action6';">Click Here</button>
	</h2>
			<h1> Both Arduino commands </h1>
	<h2> 
		blink ==> 
		<a href="/action7" class="button">blink</a>  
		
	</h2>


</body>
</html>
